aiofiles==23.1.0
aiohttp==3.8.5
aiosignal==1.3.1
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.2
astroid==2.12.13
asttokens==2.0.5
async-timeout==4.0.3
attrs==21.4.0
autopep8==1.7.0
aws-lambda-builders==1.30.0
aws-sam-cli==1.82.0
aws-sam-translator==1.65.0
backcall==0.2.0
beautifulsoup4==4.12.2
binaryornot==0.4.4
bleach==5.0.0
boto3==1.23.3
botocore==1.26.3
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.0
cfn-lint==0.77.3
chardet==5.1.0
charset-normalizer==3.1.0
chevron==0.14.0
click==8.1.3
contourpy==1.0.6
cookiecutter==2.1.1
cryptography==39.0.2
cycler==0.11.0
dacite==1.7.0
dateparser==1.1.1
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.6
dnspython==2.3.0
docker==4.2.2
entrypoints==0.4
eventlet==0.33.3
executing==0.8.3
fastjsonschema==2.15.3
fiftyone==0.19.0
fiftyone-brain==0.10.0
fiftyone-db==0.4.0
Flask==2.0.3
fonttools==4.38.0
frozenlist==1.4.0
glob2==0.7
google-api-core==2.11.0
google-api-python-client==2.84.0
google-auth==2.17.2
google-auth-httplib2==0.1.0
googleapis-common-protos==1.59.0
graphql-core==3.2.3
greenlet==2.0.2
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.16.3
httpx==0.23.3
hypercorn==0.14.3
hyperframe==6.0.1
idna==3.4
ifcopenshell==0.7.0.230718
imageio==2.25.0
ipykernel==6.13.0
ipython==8.3.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
isort==5.11.4
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==0.10.0
joblib==1.1.0
jschema-to-python==1.2.3
jsonpatch==1.32
jsonpickle==3.0.1
jsonpointer==2.3
jsonschema==3.2.0
junit-xml==1.9
jupyter==1.0.0
jupyter-client==7.3.1
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
kaleido==0.2.1
kiwisolver==1.4.4
lazy-object-proxy==1.8.0
lz4==4.3.2
MarkupSafe==2.1.2
matplotlib==3.6.2
matplotlib-inline==0.1.3
mccabe==0.7.0
mistune==0.8.4
mongoengine==0.24.2
motor==3.1.1
mpmath==1.3.0
multidict==6.0.4
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
ndjson==0.3.1
nest-asyncio==1.5.5
networkx==3.0
notebook==6.4.11
numpy==1.22.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauth2client==4.1.3
openai==0.27.9
opencv-python-headless==4.7.0.68
packaging==23.1
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.3
patool==1.12
pbr==5.11.1
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.6.2
plotly==5.13.0
poyo==0.5.0
pprintpp==0.4.0
priority==2.0.0
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==4.22.1
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1-modules==0.2.8
pycodestyle==2.9.1
pycparser==2.21
pydantic==1.10.7
PyDrive==1.3.1
Pygments==2.15.1
pylint==2.15.9
pymongo==4.3.3
pyOpenSSL==23.0.0
pyrsistent==0.18.1
python-dateutil==2.8.2
python-slugify==6.1.2
pytz==2023.3
PyWavelets==1.4.1
PyYAML==5.4.1
pyzmq==23.0.0
qtconsole==5.3.0
QtPy==2.1.0
regex==2021.9.30
requests==2.28.2
retrying==1.3.4
rfc3986==1.5.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
s3transfer==0.5.2
sam==3.1.11
sarif-om==1.0.4
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.12.2
Send2Trash==1.8.0
serverlessrepo==0.1.10
six==1.16.0
sklearn==0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
sse-starlette==0.10.3
sseclient-py==1.7.2
stack-data==0.2.0
starlette==0.20.4
strawberry-graphql==0.138.1
sympy==1.11.1
tabulate==0.9.0
tenacity==8.2.1
terminado==0.15.0
text-unidecode==1.3
threadpoolctl==3.1.0
tifffile==2023.2.3
tinycss2==1.1.1
toml==0.10.2
tomlkit==0.11.7
torch==1.13.1
tornado==6.3.2
tqdm==4.66.1
traitlets==5.2.1.post0
typing_extensions==4.4.0
tzlocal==3.0
universal-analytics-python3==1.1.1
uritemplate==4.1.1
urllib3==1.26.15
voxel51-eta==0.8.2
watchdog==2.1.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.3
Werkzeug==2.3.1
widgetsnbextension==3.6.0
wrapt==1.14.1
wsproto==1.2.0
xmltodict==0.13.0
yarl==1.9.2
youtube-dl==2021.12.17
